body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6eff4;
    margin: 10px auto;
}

h1 {
    color: #4D5F7F;
}

span {
    color: #73777F;
}

p {
    font-size: 16px;
    color: #73777F;
    line-height: 150%;
    display: block;
    margin: auto 50px;
}

.content {
    padding: 8%;
    text-align: center;
}

.hlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #4D607F;
}

a:hover {
    color: #73777F;
}
